:root {
  --blue-900: #023B78;
  --blue-500: #2188FF;
}

/*
 * Company Link */
.company-link {
  transition: all ease-in-out 250ms;
  background: var(--blue-900);
  color: var(--foreground);
}
.company-link:hover,
.company-link.active {
  background: var(--blue-500);
}

/*
 * Filter Item */
.filter-item {
  border-color: var(--gray-200);
  color: var(--gray-600);
}
.filter-item.active {
  border-color: var(--blue-500);
  background: var(--blue-500);
  color: var(--foreground);
}

/*
 *Tree Item */
 .tree-item {
  cursor: pointer;
 }
.tree-item-button.active {
  color: var(--foreground);
  background: var(--blue-500);
}
.tree-item.active > .tree-item-button > .tree-item-caret {
  transform: initial;
}
.tree-item-caret {
  transform: rotate(-90deg);
  width: 16px;
}